<main class="main">
    <section class="section-main">
        <section class="values">
            <h2 class="values-title">Цінності Компанії INTERTOP</h2>
            <ul class="values-list">
                <li class="values-item" >
                    <span class="values-item_title">Лідерство</span>
                    <p class="values-item_who">
                        Вперто хочемо біти пешими
                    </p>
                    <p class="values-item_which">
                        Лідерам притаманна впертість-вона допомогає рухатися всупереч усталеним правилам та перешкодам. Впертість реалізує
                        амбіції, завдяки ій ми стаємо першими - на своєму місці, у своїй професії, у своїй сфері.
                    </p>
        </li>
                <li class="values-item">
                    <span class="values-item_title">Натхнення</span>
                    <p class="values-item_who">Горді горіти своєю справою</p>
                    <p class="values-item_which">
                        Тільки люди, справді захоплені своєю справою, досягаюсь успіху. Ті, хто мають пристрасть до всього, за що беруться.
                        Ті, у кого горять очі та работа в руках. Ті, хто запалюють своїм натхненням та ідеями інших.
                    </p> 
        </li>
                <li class="values-item">
                    <span class="values-item_title">Команда</span>
                    <p class="values-item_who">Віримо в силу своїх людей</p>
                    <p class="values-item_which">Професійність-важлива, однак свої люди- ще важливіші,адже зі своїми можна звернути гори, на
                        своїх можна покластися, своїм- довіряють, своїх - поважають. Люди - так, свої люди - сила, що рухає компанію вгору.                   
                    </p>
                    </li>
                
                <li class="values-item">
                    <span class="values-item_title">Ефективність</span>  
                    <p class="values-item_who">Фокус на пошук ресурсів, ідей</p>
                    <p class="values-item_which">Ефнктивність- це постійний пошук, як зробити краще, швидше, за менші гроші, з меншими зусиллями. Як зробити більше, ніж від тебе очікують. Ефективність- це про ідеї, що спрямовані на результат</p>
                    </li>
                <li class="values-item">
                    <span class="values-item_title">Інноваціі</span>
                <p class="values-item_who">Звичні лише до постійних змін</p>
            <p class="values-item_which">
                Якщо маєш сміливість робити нове-будь готовий, що все навколо постійно змінюється. Якщо змінюєш ринок- звикай щодня змінюватися сам. Це єдиний шлях до успіху, коли працюєш з іноваціями.
            </p>
        </li>
            </ul>

        </section>
        <section class="mission">
            <h2>Місія Компанії INTERTOP</h2>
            <p>Зробити fashion-shoping усвідомленим, технологічним та захоплюючим</p>
        </section>
        <section class="vision">
            <h2>Візія Компанії INTERTOP</h2>
            <p>Поєднати усіх, хто створює та споживає fashion, на відкритій технологічній платформі, де компанії зможут рости, а покупці - бути в захваті від шопінгу</p>
        </section>
    </section>
</main>